<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <title>Hello, world!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- ///////////////////////////////NAV BAR//////////////////////////////////////////// -->
    <div class="bg-image d-flex "><img src="/images/bg2.png" class="  img-fluid "></div>

    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand " href="#">Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">more</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ////////////////////////////////////////////////// HEADING ////////////////////////////////// -->
    <h1 class="text-center ">Projects</h1>
    <!-- /////////////////////////////// CONTAINER FOR PREVIEW AND PROJECT-LIST ////////////////////////////////// -->

    <div class="container">

        <div class="row">
            <!-- /PREVIEW-IMAGE/ -->
            <div class="col-lg-5 col-sm-12 text-center ">
                <img src="/images/project.png" class="toggleImg img-fluid img-thumbnail preview">
            </div>
            <!-- /////////////////////////***************project-list/***********************////////////////////// -->

            <!-- //////////////////////creating a grid column within the grid////////////////////// -->
            <div class="col-lg-7 col-sm-12 text-center  ">

                <!--///////////////////////////////// /project sub-division-1//////////////////////////// -->
                <div class="container">
                    <div class="row  justify-content-center">
                        <div class="col-lg-8 col-md-6 col-sm web-dev ">
                            web-dev
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 list1 justify-content-center hide">
                            <a href="/pig-game">pig-game</a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 list1 hide">
                            <a href="/budgety">budgety</a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 list1 hide">
                            <a href="/node-farm">node-farm</a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 list1 hide">
                            <a href="/natours">natours</a>
                        </div>
                    </div>
                </div>
                <!--///////////////////////////////// /project sub-division-2//////////////////////////// -->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-6 col-sm blender border">
                            blender
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 list2  hide">
                            <a href="https://www.behance.net/gallery/100828101/Animated-room" target="_blank">animated
                                room</a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 list2 hide">
                            <a href="https://www.behance.net/gallery/113012903/Mars-rover" target="_blank">rocker
                                bogie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sMedia container">
            <div class="contact row  justify-content-center">contact us</div>
            <div class="row justify-content-md-center ">
                <div class="bicons col-md-auto text-center ">
                    <a href="https://www.instagram.com/"><i class="sm fab fa-instagram"></i></a>
                </div>
                <div class="bicons col-md-auto col-lg-1 text-center ">
                    <a href="https://github.com/jameschris854/"> <i class="sm fab fa-github"></i></a>
                </div>
                <div class="bicons col-md-auto col-lg-1 text-center ">
                    <a href="https://www.quora.com/profile/James-Christopher-46"><i class="sm fab fa-quora"></i></a>
                </div>
                <div class="bicons col-md-auto col-lg-1 text-center ">
                    <a href="https://discord.com/channels/748116870904676401/760131548514615326"><i
                            class="sm fab fa-discord"></i></a>
                </div>
                <div class="bicons col-md-auto col-lg-1   text-center ">
                    <a href="https://www.linkedin.com/in/james-chirstopher-115373186/"><i
                            class="sm fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <footer>
            <p class="text-center">Copyright &copy; 2021 project</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
        <script src="/js/home.js"></script>
        <script src="https://kit.fontawesome.com/ff2686f8f1.js" crossorigin="anonymous"></script>
</body>

</html>