*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}
html {
box-sizing: border-box;
overflow-x: hidden;
height: 100%;
}
img{
    width: 50%;
}
h1{
    font-family: 'Cedarville Cursive', cursive;
/* font-family: 'Montserrat', sans-serif; */
font-size: 4rem;
line-height: 3rem;
margin: 5%;
}
.web-dev{
    background-image: url(/images/vsCode.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 60%;
    text-align: right 100%;
    background-color:rgb(255, 255, 255);
    box-shadow: rgb(156, 156, 156) 8px 0 15px 1px;
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 10%;
}
.blender{
    background-image: url(/images/blender.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 60%;
    text-align: right 100%;
    background-color:rgb(255, 255, 255);
    box-shadow: rgb(156, 156, 156) 8px 0 15px 1px;
    font-size: 3rem;
    line-height: 4rem;

    margin-top: 2%;
}
.list1,.list2{
   
    border-top: solid 0.1px rgb(211, 211, 211);
    margin-top: 0%;
    padding-left: 0.5%;
    font-size: 200%;
    transition: ease-in-out 0.2s;
    padding-top: 1%;
    padding-bottom: 1%;

}
.show{
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease-out;
 }

 .hide{
     transform: translateX(1000px);
     opacity: 0;
     position: absolute;
     overflow: hidden;
     height: 0%;
 }
.fab{
    margin: 10%;
}
 .list1>a,.list2>a{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    text-decoration: none;
    color: rgb(151, 151, 151);
}

.sMedia>div>div>a{
    text-decoration: none;
    font-size:180%;
    color: black;
    margin: 5%;
}
.fa-instagram:hover{
  color:rgb(226, 43, 113);
}
.fa-quora:hover{
   color: red;
}
.fa-linkedin-in:hover{
   color: blue;
}
.fa-discord:hover{
   color: cornflowerblue;
}
.contact{
    font-weight: bolder;
    font-family: 'Montserrat';
    margin-top: 3%;
    margin-bottom: 1%;
    color: rgb(255, 50, 50);
}   
.navbar-brand{
    font-family: 'Cedarville Cursive', ;
}
footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.preview{
    background-color: rgb(34, 34, 34);
    box-shadow: rgb(145, 145, 145) 0px 0px 20px 0px;
    transform: rotatey(-25deg);
}
.bg-image{
    position: absolute;
    z-index: -1;
    height: 250px;
    width: 500px;
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.d-flex {
    flex-direction: row-reverse;
    right: 0;
    font-size: 10rem;
}
.bg-water {
    position: absolute;
    top: 0;   
    z-index: -1;
    right: 0;
    transform:scale(0.5) translatey(500px) translateX(900px);
}

.navbar.navbar-expand-lg{
    background-color: rgba(0, 0, 0, 0.692);
}
.nav-link{
    color: #fff;
}

.navbar-dark .navbar-brand {
    color: rgb(255, 107, 107);
}
.bicons{
    width: 5%;
    margin: 1%;
}

.text-center.main-title{
    animation-name: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes wobble{
    0%{
        transform: translateX(-5px);
        color: cornflowerblue;
    }
    50%{
        transform: translateX(5px);
        color: lightseagreen;
    }
    100%{
        transform: translateX(-5px);
        color: rgb(255, 71, 51);
    }
}

@keyframes pulse{
    0%{
        height: 250px;
        width: 500px;

    }
    50%{
        height: 280px;
    width: 560px;
    }
    100%{
        height: 250px;
    width: 500px;
    }
}
